# ──────────────────────────────────────────────────
# Preprod-Specific Environment Variables
# ──────────────────────────────────────────────────

# The transaction ID containing Hydra Reference Scripts on the network
HYDRA_TX_ID=c9c4d820d5575173cfa81ba2d2d1096fc40f84d16d8c17284da410a4fb5e64eb,ae4443b46f550289337fc5c2c52b24f1288dab36d1a229167a6e04f056a966fe,48bd29e43dd01d12ab464f75fe40eed80e4051c8d3409e1cb20b8c01120b425e

# The directory that will hold the configuration files, keys, Cardano Node and Hydra persistence files
DATA_DIR=../data/preprod

USE_TLS=0

# Your Blockfrost API key for the network you're connecting to
BLOCKFROST_API_KEY=preprod<your_api_key_here>

HYDRA_NETWORK=0
# The network magic of the cardano-node you will be connecting to:
# 1: Preprod
# 2: Preview
HYDRA_NETWORK_ID=1

# The host used for hydra-node HTTP and WS API
API_HOST=0.0.0.0
# The host used by hydra-node to connect to peers
LISTEN_HOST=0.0.0.0
# The host used by Tx3 Hydra TRP
TRP_HOST=0.0.0.0

# The port that Cardano node will use
CARDANO_PORT=3100
# The port that our Express API will be exposed on
EXPRESS_PORT=3101
# The port used for hydra-node HTTP and WS API
API_PORT=4101
# The port used by hydra-node to connect to peers
LISTEN_PORT=5101
# The port used by Tx3 Hydra TRP
TRP_PORT=8265

# The full URL for the Hydra HTTP API
HYDRA_API_URL="http://hydra-node-${NETWORK}-${INSTANCE}:${API_PORT}"

# The full URL for the Hydra WS API
HYDRA_WS_URL="ws://hydra-node-${NETWORK}-${INSTANCE}:${API_PORT}"

# The full URL for the Tx3 Hydra TRP
TRP_URL="http://hydra-trp-${NETWORK}-${INSTANCE}:${TRP_PORT}"

# ── Dolos (L1 Cardano TRP) ──────────────────────
DOLOS_TRP_PORT=8164
DOLOS_GRPC_PORT=50151