# ──────────────────────────────────────────────────
# Mainnet-Specific Environment Variables
# ──────────────────────────────────────────────────

# Overrides for the mainnet-alpha network-instance
INSTANCE=alpha
NODE_ID=mainnet-alpha

# The port that our Express API will be exposed on
EXPRESS_PORT=3000

# The port used for hydra-node HTTP and WS API
API_PORT=4001

# The port used by hydra-node to connect to peers
LISTEN_PORT=5001

# The port used by Tx3 Hydra TRP
TRP_PORT=8165

# The full URL for the Hydra HTTP API
HYDRA_API_URL="http://hydra-node-${NETWORK}-${INSTANCE}:${API_PORT}"

# The full URL for the Hydra WS API
HYDRA_WS_URL="ws://hydra-node-${NETWORK}-${INSTANCE}:${API_PORT}"

# The full URL for the Tx3 Hydra TRP
TRP_URL="http://hydra-trp-${NETWORK}-${INSTANCE}:${TRP_PORT}"

# The header value for x-api-key that Express Middleware will check for
X_API_KEY=DONT-DDOS-MY-SERVER-BRO

# The Hydra Admin Cardano PK for Offline Mode, comment out when running on a live network with your own keys
HYDRA_ADMIN_CARDANO_PK=5820...be22
EXPRESS_IMAGE=ghcr.io/lerna-labs/ekklesia-hydra:branch-main



