# ──────────────────────────────────────────────────
# Global
# └──────────────────────────────────────────────────
# Which network to boot: offline|preview|preprod|mainnet
NETWORK=preprod

# Any variables (except for NETWORK) defined in this file may be
# overridden in network-specific environment files (e.g. .preprod.env)

# Cardano Node image
CARDANO_IMAGE=ghcr.io/blinklabs-io/cardano-node:10.5.1
# Hydra image
HYDRA_IMAGE=ghcr.io/cardano-scaling/hydra-node:0.22.3
# Old image used during Rare Evo
#HYDRA_TRP_IMAGE=ghcr.io/tx3-lang/tx3-hydra:7a55ff2baf4292043c8e4cc5408f5408e2b1adfa
# Latest from TxPipe team
HYDRA_TRP_IMAGE=ghcr.io/tx3-lang/tx3-hydra:1016f57e664dbd2a82743589c342af1aebd2c6c3

# Your API Key for Demeter.run
# - Used for creating tunnel to cardano node for live network integration
DEMETER_API_KEY=dmtr_apikey1<yourkeyhere>

# (Optional) GitHub repo URL for your Tx3-based middleware.
# If set, `validate-docker` will check if packages/middleware/ is behind upstream.
# Example: MIDDLEWARE_REPO=github.com/your-org/your-middleware
MIDDLEWARE_REPO=
