node_modules
.idea
*.js
*.env
data/*/dolos
data/*/node
data/*/tls
data/*/instances
data/ipfs
data/*/config/utxo.json.bak
config.toml
test/*
packages/core/dist/*
packages/proof/dist/*
packages/orchestrator/dist/*
*.tsbuildinfo
docs/api